
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
}

#heading {
    margin-top: 0px;
    padding: 7px;
    height: 40px;
    color: white;
    background-color: #000000;
}

.box {
    margin: 0px 10px;
}

.searchArea {
    margin-bottom: 17px;
}

#inputArea {
    height: 35px;
    border-radius: 0px;
    border:  solid #000000;
    width: 83%;
}

button {
    height: 35px;
    width: 16%;
    color: white;
    background-color: black;

}

#container {
    display: flex;
    margin: 25px;
    justify-content: space-around;
}

#table {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 15px 0px;
} 
table,th,tr,td{
    background-color: #D9D9D9;
    border: 2px solid #000000;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
